# Backend
VITE_API_BASE_URL=http://localhost:6090/api
VITE_REDIRECT_URI=http://localhost:6090

# Google OAuth
VITE_CLIENT_ID=

# Sanity (blog)
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-05-14
VITE_SANITY_API_TOKEN=

# Optional
VITE_SITE_URL=http://localhost:5173
VITE_GOOGLE_API_KEY=
